/*
  salmon: #ff6961;
  dark: #0a0a23;
  light: #1b1b32;
*/
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: #1b1b32;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #0a0a23;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.main-welcome {
  font-family: 'Rethink Sans', sans-serif;
  margin-top: 100px;
  text-align: center;
}

.main-welcome-img {
  width: 45%;
  border-radius: 10px;
}

.main-welcome-p1 {
  color: white;
  font-size: 22px;
  margin-bottom: 0;
}

.main-welcome-p2 {
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

.main-welcome-btn {
  margin-top: 15px;
  border: transparent 3px solid;
  font-size: 18px;
  border-radius: 8px;
  background: #0a0a23;
  color: white;
  padding: 10px 20px;
  transition: all,.25s;
}

.main-welcome-btn:hover {
  border: #ff6961 solid 3px;
}

.main-middle {
  margin-top: 70px;
  text-align: center;
}

.main-middle-img {
  width: 45%;
  border-radius: 20px;
}

.main-middle-p1 {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.footer {
  margin-top: 100px;
  background: #0a0a23;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer a {
  margin-left: 30px;
  line-height: 40px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.main-courses-container {
  margin-top: 100px;
  text-align: center;
}

.mc-important {
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}

.main-courses {
  display: inline-block;
  background-color: #0a0a23;
  height: 220px;
  width: 300px;
  border-radius: 20px;
  cursor: pointer;
  border: transparent solid 3px;
  transition: all,.25s;
}

.main-courses:hover {
  scale: 1.2;
  border: #ff6961 solid 3px;
}

.mc-title {
  padding-top: 20px;
  color: white;
  font-weight: 600;
}

.mc-author {
  font-weight: 700;
  color: white;
}

.mc-author-title {
  font-weight: 400;
  color: white;
  font-style: italic;
}

.mc-image {
  width: 20%;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #0a0a23;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .main-welcome {
    font-family: 'Rethink Sans', sans-serif;
    margin-top: 100px;
    text-align: center;
  }
  
  .main-welcome-img {
    width: 80%;
    border-radius: 10px;
  }
  
  .main-welcome-p1 {
    color: white;
    font-size: 22px;
    margin-bottom: 0;
  }
  
  .main-welcome-p2 {
    margin-top: 10px;
    color: white;
    font-size: 16px;
  }
  
  .main-welcome-btn {
    margin-top: 15px;
    border: transparent 3px solid;
    font-size: 18px;
    border-radius: 8px;
    background: #0a0a23;
    color: white;
    padding: 10px 20px;
    transition: all,.25s;
  }
  
  .main-welcome-btn:hover {
    border: #ff6961 solid 3px;
    opacity: 0.7;
  }
  
  .main-middle {
    margin-top: 70px;
    text-align: center;
  }
  
  .main-middle-img {
    width: 100%;
  }
  
  .main-middle-p1 {
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
  
  .footer {
    margin-top: 100px;
    background: #0a0a23;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .footer a {
    margin-left: 30px;
    line-height: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  .main-courses-container {
    margin-top: 100px;
    text-align: center;
  }
  
  .mc-important {
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  
  .main-courses {
    display: inline-block;
    background-color: #0a0a23;
    height: 220px;
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .mc-title {
    padding-top: 20px;
    color: white;
    font-weight: 600;
  }
  
  .mc-author {
    font-weight: 700;
    color: white;
  }
  
  .mc-author-title {
    font-weight: 400;
    color: white;
    font-style: italic;
  }
  
  .mc-image {
    width: 20%;
  }
}